<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}Microlly</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Microlly</a>
            </nav>
        </header>
        <main>
            <!---TODO implements html (use template ?)-->
        </main>
    </body>
</html>