<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}Microlly{% endblock %}</title>
        <meta charset="utf8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
	</head>
    <body>
        <!-- Wrapper -->
			<div id="wrapper">
				<!-- Header -->
					<header id="header">
						<h1><a href="{{ url_for('show_entries') }}">Microlly</a></h1>
                        <nav class="main">
                            <ul>
                                <!-- Register -->
                                    <a href="{{ url_for('signUp') }}" class="button large fit">Sign Up</a>
                                <!-- Login -->
                                    {% if not session.logged_in %}
                                        <a href="{{ url_for('login') }}" class="button large fit">Sign In</a>
                                    {% else %}
                                        <a href="{{ url_for('logout') }}" class="button large fit">Log Out</a>
                                    {% endif %}
                            </ul>
                        </nav>
                    </header>
            </div>
        <!--- Main --->
            <div id="main">
                {% block main %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                {% endblock %}
            </div>
    </body>
</html>